/*
#000000 black
#ffffff white
#ac1e39 red
#e1b913 yellow
#178048 green
#214ea0 blue
#3d99C9 light blue
*/

#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

/* .content {
  font-size: 2em;
  text-align: left;
  white-space: normal; 
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
} */

body {
  margin: auto;
}

/* .posts-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-auto-flow: dense;
  gap: 8px;
  padding: 16px;
  max-width: 100%;
} */

.header {
  padding: 10px 10px 10px 10px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  display: flex;
  background-color: var(--secondary);
}
